# Enable MPU
CONFIG_ARM_MPU=y

# enable GPIO
CONFIG_GPIO=y

# Enable RTT
CONFIG_USE_SEGGER_RTT=y

CONFIG_CONSOLE=y
# disable uart driver
CONFIG_UART_CONSOLE=n

# enable console
CONFIG_RTT_CONSOLE=y

# 32kHz clock source
CONFIG_CLOCK_CONTROL_NRF_K32SRC_SYNTH=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_50PPM=y

# open source imu drivers
CONFIG_SENSOR=y
CONFIG_MCN_AUDIO_BUFFERS=50
CONFIG_LSM6DSO_TRIGGER_GLOBAL_THREAD=y
#CONFIG_SEGGER_DEBUGMON=y
CONFIG_CORTEX_M_DEBUG_MONITOR_HOOK=y
